body {
	font-family: helvetica, sans-serif;
	background:#333;
	margin:0;
	padding:0;
	display:table-cell;
}

.content, .content * {
	width:auto !important;
	color: #FFF !important;
}

img{ -webkit-touch-callout: none; }

h1, h2, h3, h4, h5, h6 {
	color:#acF;
	text-decoration:none;
	padding:5px;
	padding:0;
}

h1{
	font-size:1.1em;
	line-height:1.0em;
	padding:0;
	margin:3px 0;
	margin-bottom:5px;
}

h1 a{
	text-decoration:none;
}

pre {
	max-width:580px;
	white-space: pre-wrap;
}


.num_items {
	float:right;
	color:#977;
}

#app {
	margin:0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

a {
	cursor: hand;
}

ul {
	margin:0;
	padding:0;
}

