[submodule "ext/lawnchair"]
	path = ext/lawnchair
	url = git://github.com/gfxmonk/lawnchair
[submodule "ext/async"]
	path = ext/async
	url = http://github.com/eligrey/async.js.git
[submodule "ext/js-bakery"]
	path = ext/js-bakery
	url = ../js-bakery
[submodule "ext/screw-unit"]
	path = ext/screw-unit
	url = git://github.com/nkallen/screw-unit.git
