[submodule "ext/lawnchair"]
	path = ext/lawnchair
	url = git://github.com/gfxmonk/lawnchair
[submodule "ext/async"]
	path = ext/async
	url = http://github.com/gfxmonk/async.js.git
[submodule "ext/js-bakery"]
	path = ext/js-bakery
	url = git://github.com/gfxmonk/js-bakery.git
[submodule "ext/qunit"]
	path = ext/qunit
	url = git://github.com/runeh/qunit.git
